@model IEnumerable<Orders.App.Models.OrderHistoryViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>@Model.First().Name's Order History</h1>

<table class="table">
    <thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.ProductName)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Price)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Address)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PurchaseDateTime)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.DispatchStatus)
			</th>
		</tr>
    </thead>
    <tbody>
		@foreach (var item in Model) {
		<tr>
			<td>
				@Html.DisplayFor(modelItem => item.ProductName)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Price)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.Address)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.PurchaseDateTime)
			</td>
			<td>
				@Html.DisplayFor(modelItem => item.DispatchStatus)
			</td>
		</tr>
		}
    </tbody>
</table>
